<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}music/css/normalize.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}music/css/foundation.css">

  <title>Music Site</title>
</head>

<body>
<nav class="top-bar" style="">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Music Site
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 </nav>
 <div class="row" id="content">
  {% block content %}
  {% endblock %}
 </div>


</body>
</html>

