<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}music/css/normalize.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}music/css/foundation.css">
  <!--[if lt IE 10]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <title>Music Site</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

</head>

<body>
{% block body %}
<nav class="top-bar" style="">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Music Site
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 </nav>
 <div class="row" id="content">
  {% block content %}
  {% endblock %}
 </div>

 {{ MEDIA_URL }}
<script src="{{ STATIC_URL }}music/js/vendor/jquery.js"></script>
<script src="{{ STATIC_URL }}music/js/music.js"></script>
{% endblock %}
</body>

<html>

