html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
    padding-bottom: 30px;}  /* must be same height as the footer */

#trackbrowser{
    max-height:600px;
     overflow : scroll;
     padding-bottom: 30px;
}

#audioplayer {position: relative;
    margin-top: -30px; /* negative value of footer height */
    height: 30px;
    clear:both;}
